extends layout

block content
  .w3-container.w3-margin.w3-border
    .w3-container.w3-teal
        h3 Registe as suas credenciais
    form.w3-container(action="/users/register" method='POST')
        label Username: 
        input.w3-input(type="text" name="id")
        label Password: 
        input.w3-input(type="password" name="password")
        input.w3-btn.w3-teal(type="submit" value="submit") 