c  ---------------------------------------
c 3. Use agora o SAT solver para o ajudar a responder às seguintes questões.
c   b) Pode um sócio de chapéu ser loiro?
c  ---------------------------------------
c Para provar que isto é verdade, temos que demonstrar que o problema continua a ser
c satisfazível, adicionando estas restrições às condições já feitas, isto é, se encontra solução.
c Note que não queremos provar uma consequência lógica, portanto não há a necessidade de negar a afirmação.

c 1 ∧ 2 ∧ 5 (Sócio ∧ Loiro ∧ Chapéu)

p cnf 6 11
-1 -2 -3 0
4 5 0
-1 6 -5 0
-1 -3 4 0
-4 1 0
-4 3 0
-1 -4 6 0
-6 2 0
c --- Restrições adicionadas: ---
1 0
2 0
5 0

c O problema continua a ser satisfazível (SAT), então uma solução em que existe um sócio de chapéu e loiro
c é possível dentro destas condições.
