c  ---------------------------------------
c 3. Use agora o SAT solver para o ajudar a responder às seguintes questões.
c   a) A afirmação “Afinal a associação não pode ter sócios adultos.” é correcta?
c  ---------------------------------------
c Para provar que isto é verdade, temos que demonstrar que esta afirmação
c é uma consequência lógica das condições acima.
c Para isso temos que negar esta afirmação e verificar se o problema não é satisfazível.

c (¬1 ∨ ¬4) --(negação)-→ (1 ∧ 4)

p cnf 6 10
-1 -2 -3 0
4 5 0
-1 6 -5 0
-1 -3 4 0
-4 1 0
-4 3 0
-1 -4 6 0
-6 2 0
c --- Restrições adicionadas: ---
1 0
4 0

c O problema é NÃO satisfazível (UNSAT), logo a afirmação é verdadeira, por ser uma consequência lógica
c às condições anteriores
