extends layout

block content
  .w3-container
        h3 Tabela Periódica - GraphDB
        h9 Esta é a página principal sobre uma ontologia em RDF, alojada no GraphDB, sobre a definição da Tabela Periódica. ´
        br
        h9 As Tabelas Periódicas podem ser descritas através de 3 principais conceitos: 
  .w3-container
    .w3-card-4
        pre   
          i(class="fa fa-flask")   
          a(href="/elementos") Elementos
        pre   
          i(class="fa fa-flask")   
          a(href="/grupos") Grupos
        pre   
          i(class="fa fa-flask")   
          a(href="/periodos") Períodos
    footer.w3-container.w3-orange Gerado by Luís Ribeiro - a85954
