doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-3.5.1.min.js')
    script(src='/javascripts/scripts.js')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    script(src='/javascripts/scripts.js')
    script(type='text/javascript' charset='utf8' src='http://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js')
    link(rel='stylesheet' href='http://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css')
  body
    block content
