extends layout

block content
  .w3-container
        h3 Tabela Periódica - GraphDB
        h9 Esta é a página relativa ao 
            b Período #{id}.
  .w3-container
    .w3-card-4
      header.w3-container.w3-orange.w3-margin-top
        h4 Elementos Químicos pertencentes ao 
            b Período #{id}
      table.w3-table-all(id="TP")
        thead
            tr
                th Símbolo do Elemento
                th Saber mais
        tbody
            each e in elementos
                tr
                    td= e.element
                    td
                        button(class="button" onclick="location.href='http://localhost:9091/elementos/"+e.element+"'")
                            i(class="fa fa-flask" style="font-size:20px")
  footer.w3-container.w3-orange.w3-margin-top(style="font-size:10px")
    pre
        i(class="fa fa-home")     
        a(href="/") Voltar à Home Page
    pre
        i(class="fa fa-arrow-left")     
        a(href="/periodos") Voltar para os Períodos