extends layout

block content

  .w3-container.w3-margin
    h1 CLAV 
    p Chegaste à homepage... 
    ul
      li  
        a(href="/lista_classes") Classes
      li  
        a(href="/lista_termos") Termos de índice