extends layout

block content

    h1 Lista de Classes
    .w3-container.w3-margin

          table.w3-table-all
            tr 
              th Termo
              th idClasse
              th tituloClasse

              



            each t in lista_termos
              tr
                
                td=t.termo
                td
                  a(href="/nivel3/c"+t.idClasse id=t.id) #{t.idClasse} 
                td=t.tituloClasse
                

          footer.w3-container.w3-teal
            p
             a(href="/") Index        